body {
    background-color: #f8f9fa;
    font-family: "fantasy", sans-serif;
}

.container {
    max-width: 1200px;
}

.filter-panel {
    background: rgba(164, 160, 160, 0.5);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.filter-panel h5 {
    font-weight: 600;
    color: #333;
}

input[type="range"] {
    width: 100%;
    height: 8px;
    background: linear-gradient(90deg, #ff5f6d 0%, #ffc371 100%);
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
}

input[type="range"]:hover {
    opacity: 0.8;
}

.product-card {
    background: #fff;
    border: none;
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}

.product-img {
    height: 220px;
    object-fit: contain;
    border-radius: 12px 12px 0 0;
    width: 100%;
}

.product-info {
    padding: 15px;
    text-align: center;
}

.product-name {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ff5f6d;
}

.old-price {
    text-decoration: line-through;
    color: #999;
}

.sale-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: red;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.btn-custom {
    background-color: #e6af4b;
    color: #1a1a1a;
    border: 0;
    border-radius: 30px;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.btn-primary {
    background-color: #4CAF50 !important;
    border: 2px solid black;
    border-radius: 50px;
    padding: 12px 18px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    transition: all 0.3s ease;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.btn-custom:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    background: #d8bfbf;
}

.btn-primary:hover {
    font-size: 1.3rem;
    background-color: #45a049;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.gap-3 {
    gap: 10px;
}
